body {
    font: 20px/1.2 "Golos Text", sans-serif;
    font-weight: 400;
    width: 100%;
    color: #313131;
    background: #fff;
    height: 100%;
    min-width: 320px;
    font-optical-sizing: auto;

}

.page {
    overflow: hidden;
}

a {
    color: #313131;
    outline: none
}

a:hover {
    text-decoration: none
}

.container {
	margin: 0 auto;
	width: var(--cont)
}

h1,h2,h3,h4,h5,
.h1,.h2,.h3,.h4,.h5 {
    font-family: $titleFont;
    text-transform: uppercase;
}

h2, .h2 {
    font-weight: 400;
    font-size: 54px;
    line-height: 120%;
    text-transform: uppercase;
    font-family: $titleFont;
    margin-bottom: 54px;
    strong {
        font-weight: 700;
        color: $red;
    }
    @media (max-width: 1200px) {
        font-size: 48px;
        margin-bottom: 40px;
    }
    @media (max-width: 992px) {
        font-size: 42px;
        margin-bottom: 30px;
    }
    @media (max-width: 690px) {
        font-size: 36px;
        margin-bottom: 20px;
    }
}

h3, .h3 {
    font-weight: 400;
    font-size: 36px;
    line-height: 135%;
    text-transform: uppercase;
    font-family: $titleFont;
    strong {
        font-weight: 700;
        color: $red;
    }
    @media (max-width: 1200px) {
        font-size: 34px;
    }
    @media (max-width: 992px) {
        font-size: 30px;
    }
    @media (max-width: 690px) {
        font-size: 28px;
    }
}

.btn {
    font-weight: 500;
    font-size: 16px;
    line-height: 130%;
    text-align: center;
    color: #1f1f1f;
    display: flex;
    text-decoration: none;
    box-shadow: inset 0 0 0 2px #1f1f1f;
    border-radius: 66px;
    padding: 20px 49px;
    position: relative;
    box-sizing: border-box;
    transition-duration: .25s;
    overflow: hidden;
    span {
        min-width: 165px;
        z-index: 1;
        position: relative;
    }
    &::before{
        position: absolute;
        content: '';
        left: 0;
        bottom: 0;
        width: 100%;
        height: 0px;
        background: #1f1f1f;
        transition-duration: .25s;

    }

    &:hover {
        color: #fff;
        &::before{
            height: 100%;
        }
    }

    &._black {
        background: #1f1f1f;
        color: #fff;
        box-shadow: none;
        &::before {
            background: #fbce51;
        }
        &:hover {
            color: #1f1f1f;
            box-shadow: inset 0 0 1px 2px #fbce51;
            
        }
    }

    &._blue {
        background: #fff;
        color: #3057A2;
        box-shadow: inset 0 0 0 1px #3057A2;
        &::before {
            background: #3057A2;
        }
        &:hover {
            color: #fff;
            box-shadow: inset 0 0 1px 2px #3057A2;
        }
    }
    @media (max-width: 992px) {
        justify-content: center;
        padding: 14px 39px;
    }
    @media (max-width: 476px) {
        justify-content: center;
        box-shadow:none;
        padding: 14px 43px 12px 43px;
        background: rgba(255,255,255,0.9);
        br {
            display: none;
        }
    }

}

.oldPrice {
    position: relative;
    margin-right: 4px;
    &::before{
        position: absolute;
        content: '';
        left: 0;
        top: calc(50% - 1px);
        width: 100%;
        height: 2px;
        background: $red;
    }
}

.header {
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    padding: 26px 0 0 0;
    font-weight: 700;
    font-size: 16px;
    line-height: 108%;
    text-transform: uppercase;
    color: #595653;
    a {
        color: #595653;

    }
    &__logo {
        display: flex;
        gap: 7px;
        text-decoration: none;
        &__img {
            display: block;
            width: 92px;
            height: 32px;
            background: url("data:image/svg+xml,%3Csvg fill='none' height='32' viewBox='0 0 23 32' width='23' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m21.2035 29.9437h-.5629c0-.006-.0027-.0119-.0039-.0176l-.0154-.0688c-.0099-.0453-.0206-.0902-.0316-.1347-.0047-.021-.0099-.042-.015-.0629-.0146-.0588-.03-.1175-.0458-.1763l-.0047-.0168c-.0174-.0637-.0356-.127-.0545-.1901l-.019-.061c-.013-.0435-.0268-.0865-.0394-.1295-.0075-.0236-.0154-.0468-.0229-.07-.0138-.0416-.0281-.0831-.0427-.1243-.0075-.0217-.0154-.0438-.0229-.0651-.0184-.0516-.0373-.1029-.0568-.1538-.0043-.0109-.0079-.0213-.0122-.0322-.0229-.0599-.047-.1194-.0715-.1789-.0087-.0217-.0177-.043-.0268-.0643-.0166-.0375-.0332-.0786-.0502-.1176l-.0319-.0722c-.0166-.0374-.0336-.0748-.051-.1123-.0106-.0232-.0217-.0467-.0327-.0699-.0202-.0431-.0395-.0857-.062-.128-.0083-.0161-.0158-.0326-.0241-.0491-.028-.0557-.0568-.1122-.086-.1661l-.0395-.07-.0557-.1014-.0434-.0749c-.0182-.0314-.0363-.0629-.0549-.0943-.0146-.0254-.0296-.0509-.0446-.0748-.0205-.0341-.0394-.0674-.0619-.1011l-.0569-.0913c-.0268-.0419-.0537-.0842-.0813-.1257-.0174-.0262-.0347-.0521-.0525-.0779s-.0371-.0554-.0561-.0827c-.0189-.0273-.0394-.0546-.0568-.0816-.0174-.0269-.0363-.0512-.0549-.0748-.0185-.0236-.0395-.055-.0596-.0824l-.0556-.0748c-.0395-.0498-.0758-.0996-.1145-.1497l-.0541-.0685c-.0229-.0288-.0466-.0573-.0699-.0857l-.0521-.0629c-.0241-.0288-.0485-.0572-.073-.086l-.0513-.0592-.0766-.0868-.0454-.0501c-.0943-.1037-.1911-.2059-.2901-.3054l-.0435-.0438-.0908-.0887-.0446-.0427c-.0315-.0303-.0631-.0602-.0951-.0898l-.0328-.0299c-.1117-.1029-.2265-.2032-.3434-.2994l-.032-.0266c-.036-.0299-.0723-.0595-.1089-.0887l-.0363-.0292c-.0395-.0299-.0754-.0595-.1137-.0891l-.0194-.0146c-.1291-.0988-.2613-.1949-.3947-.2874l-.0186-.0131c-.0422-.0288-.0844-.0572-.1271-.0853l-.028-.0183c-.0434-.0289-.0872-.0569-.1311-.085l-.0075-.0045c-.1452-.092-.2933-.1802-.4441-.2646l-.0059-.0037c-.0477-.0266-.0955-.0524-.1433-.0782l-.0209-.0113c-.2542-.1359-.5153-.2607-.7832-.3742l-.0166-.0071c-.0706-.03-.1417-.0588-.2135-.0872h1.4128c.2301 0 .4168-.2511.4168-.5614 0-.3102-.1867-.5613-.4168-.5613h-.4208c.026-.0629.0549-.134.086-.2141.398-.235 1.0982-.7358 1.793-1.6557l.0055-.0071c.0527-.0688.1044-.1401.1552-.2137l.0102-.0146c.0506-.0722.1011-.1467.1508-.2245l.0134-.0206c.0237-.0374.0474-.0748.0711-.1123 0 0 0-.003.0028-.0048.0244-.0375.0485-.0786.0726-.1187l.0154-.0258c.0205-.0344.0414-.0696.0616-.1051.0039-.0064.0079-.0128.0114-.0195.0233-.0404.0466-.0816.0695-.1231l.0158-.0289c.0189-.0344.0375-.0692.056-.1044.0056-.0097.0111-.0198.0162-.0299.0221-.0423.0442-.085.0663-.1284l.0154-.0303c.0174-.0352.0352-.0711.0525-.107l.019-.0374c.0213-.0442.0422-.0891.0631-.1344l.0131-.0288c.0173-.0374.0343-.0749.0513-.1123l.0201-.0449c.0198-.0453.0395-.0909.0584-.137.0036-.0082.0071-.0168.0103-.025.0178-.0423.0351-.0854.0525-.1288l.0197-.0494c.0162-.0412.0324-.0827.0482-.1242l.0118-.0315c.0186-.0494.0368-.0999.0549-.1497l.019-.0531c.0142-.0397.028-.0801.0418-.1205.0051-.015.0103-.03.015-.0449.0174-.0517.0347-.1044.0517-.1572.0055-.0183.0115-.0374.017-.0547l.0395-.1231c.0051-.0179.0106-.0374.0158-.0535.0161-.0543.0323-.1096.0477-.1654.0052-.0176.0099-.0356.0146-.0535.0119-.0431.0237-.0861.0352-.1299.0051-.0198.0102-.0397.0158-.0595.0146-.0576.0292-.1156.0434-.1744l.0118-.049c.0111-.0468.0221-.094.0328-.1415l.0142-.0636c.0134-.061.0268-.122.0395-.1841.0027-.012.0051-.0244.0075-.0375.011-.0535.0217-.1077.0319-.162.0044-.0221.0083-.0442.0127-.0662.0102-.0558.0201-.1123.03-.1681.002-.012.0043-.0236.0063-.0352.011-.0658.0218-.1322.0324-.1991.0035-.0224.0071-.0449.0102-.0677.0083-.0543.0162-.1089.0241-.1643l.0071-.0509c.0095-.0688.0186-.1381.0272-.2084.0028-.0221.0052-.0442.0079-.0667.0069-.0558.0132-.112.019-.1684.0024-.0202.0047-.04.0067-.0602.0076-.0724.0147-.1453.0213-.2189 0-.0206.0036-.0412.0052-.0622.0051-.0591.0102-.1186.0146-.1785 0-.0221.0035-.0441.0051-.0662.0055-.0764.0106-.1532.0154-.2306 0-.0175 0-.0374.0027-.0531.0036-.0644.0072-.1291.0099-.1942 0-.0236 0-.0472.0032-.0708.0031-.0804.0063-.1613.0087-.2432 0-.0113 0-.0229 0-.0345.0021-.0728.0036-.1464.0047-.2208 0-.0243 0-.0486 0-.0729 0-.0799 0-.1602 0-.241v-.0188c0-.086 0-.1732 0-.2619v-.0749c0-.0748-.0032-.1534-.0051-.2313v-.0423c-.0028-.0898-.0064-.1807-.0099-.272 0-.0236-.0024-.0476-.0032-.0711-.0034-.0769-.0073-.1542-.0118-.2321 0-.0191 0-.0374-.0032-.058-.0055-.0935-.0115-.1878-.0181-.2829l-.0048-.0662c-.0059-.0794-.0118-.1591-.0185-.2396 0-.0232-.0036-.0464-.0055-.0696-.0083-.0973-.0174-.1957-.0269-.2945 0-.0187-.0039-.0374-.0055-.0565-.0083-.0842-.0174-.1692-.0265-.2549-.0027-.0258-.0055-.0512-.0086-.0771-.0111-.1018-.0229-.2039-.0356-.3076 0-.0127-.0035-.0254-.0051-.0374-.0113-.09283-.0233-.18614-.0359-.27995-.004-.02769-.0075-.05539-.0115-.08308-.0147-.10628-.0298-.21345-.0454-.32148-1.579-10.65621-12.76854-8.926834-12.76854-8.926834l.35844 2.289624-6.767193 6.77755.295667 2.61707 2.563506 1.497c.11428-.2754.261-.5376.43738-.7818 1.654-1.8087 4.86292-3.2286 5.7815-3.52313.18395-.05876.28856-.08832.28856-.08832-4.39395 5.39135-3.8942 11.56785-3.69841 13.04015-.20369.0374-.36119.2706-.36119.555 0 .3099.18672.5614.41685.5614h1.41281c-2.34968.9324-4.21482 2.7083-5.18819 4.94-.00115.003-.00246.006-.00395.009-.07184.1656-.13868.3337-.20053.5041.00011.0017.00011.0035 0 .0052-.01658.0464-.03276.0928-.04855.1396-.00592.0168-.01185.0337-.01737.0509-.01421.0419-.02737.0842-.03948.1269-.0071.0217-.01381.0438-.02053.0655-.01263.04-.02486.0804-.0367.1208l-.02132.0749c-.01106.0374-.02211.0775-.03237.1164-.0075.0277-.01461.055-.02171.0827-.00948.0374-.01934.0748-.02842.1123-.00908.0374-.01777.0748-.02645.1145-.00869.0396-.01974.0861-.02921.1295h-.56331c-.10833-.0023-.21603.016-.316805.0537-.100772.0377-.192578.0942-.270031.166s-.138997.1576-.18101.2523c-.042014.0947-.063656.1964-.063656.2991s.021642.2044.063656.2991c.042013.0947.103557.1804.18101.2523.077453.0718.169259.1282.270031.166.100775.0377.208475.056.316805.0537h19.96481c.1084.0023.2161-.016.3168-.0537.1008-.0378.1926-.0942.2701-.166.0774-.0719.139-.1576.181-.2523s.0636-.1964.0636-.2991-.0216-.2044-.0636-.2991-.1036-.1805-.181-.2523c-.0775-.0718-.1693-.1283-.2701-.166-.1007-.0377-.2084-.056-.3168-.0537z' fill='%23595653'/%3E%3C/svg%3E") 0 0 repeat-x;
            
        }

    }
    @media (max-width: 476px) {
        font-size: 14px;
        padding: 17px 0 0 0;
        &__logo {
            gap: 6px;
            align-items: center;
            &__img {
                width: 78px;
                height: 27px;
                background-size: auto 27px;
            }

        }
    }
}

.welcome {
    background: url('../images/bg.jpg') 50% 0 no-repeat;
    min-height: 700px;
    padding-top: 124px;
    box-sizing: border-box;
    &__inner {
        max-width: 542px;
        display: flex;
        flex-direction: column;
        gap: 32px;
        @media (max-width: 920px) {
            max-width: 400px;
            
        }
    }
    &__title {
        font-weight: 400;
        font-size: 60px;
        line-height: 110%;
        span {
            text-align: center;
            display: block;
        }
    }
    &__text {
        text-align: center;
        font-size: 18px;
        line-height: 130%;
    }
    &__buttons {
        display: flex;
        gap: 16px;
        .btn {
            width: 50%;
        }
    }
    @media (min-width: 2000px) {
        background: url('../images/bg.jpg') 50% 90%/cover no-repeat;
        
    }
    @media (max-width: 1200px) {
        &__title {
            font-size: 48px;
        }
        
    }
    @media (max-width: 1023px) {
        background: url('../images/bg.jpg') 42% 0 no-repeat;
        &__title {
            font-size: 44px;
        }
        
    }
    @media (max-width: 476px) {
        padding-top: 90px;
        min-height: 774px;
        background: url('../images/bg_mob.jpg') 0 0 no-repeat;
        &__inner {
            gap: 24px;
        }
        &__title {
            font-size: 36px;
            line-height: 112%;
        }
        &__text {
            text-align: left;
            margin-bottom: 8px;
        }
        &__buttons {
            display: flex;
            flex-direction: column;
            gap: 14px;
            .btn {
                width: 100%;
            }
        }

    }

}

.movingLines {
    color: #fff;
    position: relative;
    white-space: nowrap;
    margin: 0;
    will-change: transform;
    display: inline-flex;
    animation: 40s marquee infinite linear;
    will-change: transform;

    &__wrap {
        overflow: hidden;
        white-space: nowrap;
        position: relative;
        display: block;
        font-size: 0;
        background: $red;
    }
  
    &__item {
        font-family: $titleFont;
        font-size: 22px;
        line-height: 110%;
        padding: 18px 0;
        text-transform: uppercase;
        display: inline-block;
        margin-right: 30px;
        position: relative;
        &::before{
            position: absolute;
            content: '';
            right: -18px;
            top: calc(50% - 6px/2);
            width: 6px;
            height: 6px;
            border-radius: 100%;
            background: #fff;
        }
        @media (max-width: 992px) {
            font-size: 18px;
            padding: 14px 0;
        }
        @media (max-width: 476px) {
            font-size: 16px;
            padding: 10px 0;
        }
    }
    @keyframes marquee {
    from {
        transform: translateX(0);
    }
    
    to {
        transform: translateX(-100%);
    }
    }
}

.main {
    margin-top: 105px;
    @media (max-width: 992px) {
        margin-top: 64px;
    }
    @media (max-width: 476px) {
        margin-top: 48px;
    }
}

.anounce {
    align-items: center;
    margin-bottom: 90px;
    position: relative;
    padding-right: 458px;

    &__text {
        display: inline;
    }

    &__img {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 0;
    }

    @media (max-width:992px) {
        padding-right: 320px;
        margin-bottom: 50px;
        &__img {
            width: 280px;
        }
    }
    @media (max-width:690px) {
        display: flex;
        padding-right: 0;
        gap: 24px;
        margin-bottom: 21px;
        flex-direction: column;
        &__img {
            width: 100%;
            min-width: 0;
            position: static;
            transform: none;
        }
        
    }

}

.imgWithText {
    margin-bottom: 200px;
    display: flex;
    position: relative;
    &__img {
        position: relative;
        min-width: calc(var(--colwgap) * 5);
        padding-right: 44px;
        box-sizing: border-box;
        @media (max-width: 1100px) {
            min-width: calc(var(--colwgap) * 4);
        }
    }

    h3, .h3 {
        margin-bottom: 60px;
    }

    @media (max-width: 920px) {
        flex-direction: column;
        margin-bottom: 120px;
        &__img {
            max-width: 50%;
            padding-right: 0;
            min-width: 0;
        }

        h3, .h3 {
            position: absolute;
            right: 0;
            top:0;
            width: 50%;
            padding-top: 7vw;
        }
    }
    @media (max-width: 690px) {
        h3, .h3 {
            padding-top: 0;

        }

    }
    @media (max-width: 576px) {

        &__img {
            max-width: 100vw;
            padding-right: 0;
            margin: 0 -20px 10px -20px;
        }

        h3, .h3 {
            width: 100%;
            position: static;
            padding-top: 0;
            margin-bottom: 44px;
        }
    }

}

.overflowingImg {
    position: relative;
    height: 100%;
    width: 100%;
    @media (min-width: 992px) {
        img {
            position: absolute;
            left: 50%;
            top: 50%; 
            transform: translate(-50%,-50%);
            max-width: none;
            max-width: 120%;
        }
        
    }
    @media (max-width: 1100px) {
        img {
            top:0;
            transform: translateX(-50%);
        }
    }
    @media (max-width: 992px) {
        img {
            transform: none;
            margin-bottom: -5%;
            margin-top: -5%;
        }
    }
    @media (max-width: 576px) {
        img {
            margin: 0;
        }
    }
}

.noTable {

    margin-bottom: 48px;
    &__row {
        display: flex;
        &:not(:last-child) {
            border-bottom:  2px solid  #d0d0d0;
        }
    }
    &__col {
        padding: 16px;
        width: 50%;
        min-width: 50%;
        &:first-child {
            padding-left: 0;
            opacity: 0.7;
            border-right:  2px solid  #d0d0d0;
        }
        &:last-child {
            font-weight: 600;

        }
    }

    @media (max-width: 590px) {
        margin: -16px 0 0 0;
        margin-bottom: 40px;
        &__row {
            flex-wrap: wrap;
            padding: 16px 0;
            gap: 12px;
        }
        &__col {
            padding: 0;
            width: auto;
            min-width: 0;
            &:first-child {
                border-right:  none;
            }
            &:last-child {
    
            }
        }
        
    }
}

.infoText {
    color: #3057a2;
    font: 20px/1.2 "Golos Text", sans-serif;
    @media (max-width: 476px) {
        font-size: 18px;
        line-height: 120%;
        
    }
}

.swiper-button-prev, .swiper-button-next { 
    border-radius: 100%;
    transition-duration: .2s;
    width: 44px;
    height: 44px;
    background: #313131 url("data:image/svg+xml,%3Csvg width='12' height='20' viewBox='0 0 12 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.4618 1.53839L9.92334 9.99993L1.4618 18.4615' stroke='white' stroke-width='2' stroke-linecap='square'/%3E%3C/svg%3E%0A") 55% 50% no-repeat;
    @media (max-width: 1250px) {
        width: 36px;
        height: 36px;
        background: #313131 url("data:image/svg+xml,%3Csvg width='10' height='18' viewBox='0 0 10 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.92324 2.07692L8.84631 9L1.92324 15.9231' stroke='white' stroke-width='1.63636' stroke-linecap='square'/%3E%3C/svg%3E%0A") 55% 50% no-repeat;
        
    }
    &::after {display: none;}
    &.disabled {
        opacity: .2;
    }
    @media (hover: hover) {
        &:hover {
            background-color: #fbce51;
        }
    }
}

.steps {
    margin-bottom: 200px;
    @media (max-width: 992px) {
        margin-bottom: 184px;
    }
    h2, .h2 {
        max-width: 806px;
    }
    .infoText {
        max-width: 280px;
        display: inline-block;
        text-transform: none;
        margin-left: 4px;
        @media (max-width: 590px) {
            margin-left: 0;
            max-width: none;
            margin-top: 12px;
        }
    }
    &__img {
        position: absolute;
       bottom: 20px;
       right: -60px; 
       z-index: 9;
    }

    .num {
        position: absolute;
        left: 20px;
        top: 20px;
        width: 36px;
        height: 36px;
        border-radius: 100%;
        background: #fff;
        font-weight: 600;
        font-size: 20px;
        line-height: 34px;
        text-align: center;

    }

    @media (min-width: 1250px) {
        .swiper-wrapper {
            display: block;
        }
        .swiper-slide  {
            height: auto;
        }
        .swiper-button-prev, .swiper-button-next { 
            display: none;
        }
        &__slider {
            margin-left: calc(var(--gap)/2 * -1);
            margin-right: calc(var(--gap)/2 * -1);

            font-size: 20px;
            line-height: 120%;
            &::after {
                display: block;
                height: 1px;
                clear: both;
                content: '';
            }
            &__wrap {
                position: relative;

            }
                
            &__item {
                float: left;
                width:  calc(var(--colp) * 4);

                &__bg {
                    position: relative;
                    padding: 20px 20px 20px 72px;
                    margin-bottom: 20px;
                    margin-left: calc(var(--gap)/2 );
                    margin-right: calc(var(--gap)/2 );
                    min-height: 112px;
                    box-sizing: border-box;
                    background: url('../images/steps_bg.jpg') 50% 50% no-repeat;
                }
                &:nth-child(1) &__bg:nth-child(1) {
                }
                &:nth-child(1) &__bg:nth-child(2) {
                    background-position: 20% 50%;
                }
                &:nth-child(3) &__bg {
                    background-position: 30% 30% ;
                }
                &:nth-child(4) &__bg {
                    background-position: 60% 70% ;
                }
                &:nth-child(5) &__bg {
                    background-position: 50% 20% ;
                }
                &._right {
                    float: right;
                    & .steps__slider__item__bg {
                        min-height: calc(112px*2 + 20px);
                    }
                }

                &._double {
                    display: flex;
                    width:  calc(var(--colp) * 8);
                    & .steps__slider__item__bg {
                        width: 50%;
                    }
                }

                &._wide {
                    width:  calc(var(--colp) * 8);
                    & .steps__slider__item__bg {
                        padding-right: 290px;
                        min-height: 136px;

                    }

                }
            }

        }
    }

    @media (max-width: 1250px) {

        &__img {
            position: absolute;
           bottom: auto;
           top: -128px;
           left: 0;
            max-width: 335px;
           z-index: 9;
        }
        &__slider {
            margin-top: 148px;
            font-size: 18px;
            line-height: 120%;
            &__wrap {
                position: relative;

            }
                
            &__item {
                height: auto;
                width:  335px !important;
                background: url('../images/steps_bg.jpg') 50% 50% no-repeat;
                box-sizing: border-box;

                padding: 62px 22px 34px 20px;
                .num {
                    top: 0;
                    left: 0;
                }
                &__bg {
                    padding-left: 52px;
                    position: relative;
                    &:not(:last-child) {
                        margin-bottom: 20px;
                    }
                }
                &:nth-child(1)  {
                }
                &:nth-child(2)  {
                    background-position: 20% 50%;
                }
                &:nth-child(3)  {
                    background-position: 30% 30% ;
                }
                &:nth-child(4)  {
                    background-position: 60% 70% ;
                }
                &:nth-child(5) {
                    background-position: 50% 20% ;
                }
            }


            &__nav {
                display: flex;
                position: absolute;
                justify-content: center;
                width: 100%;
                left: 0;
                bottom:-64px ;
                gap: 12px;
                align-items: center;
                & > * {
                    position: static !important;
                    margin: 0;
                }
                .swiper-pagination  {
                    width: auto;
                    .swiper-pagination-bullet {
                        width: 10px;
                        height: 10px;
                        margin: 0 4px;
                        &.swiper-pagination-bullet-active {
                            background: #313131;
                        }
                    }
                }
                .swiper-button-prev {
                    transform: rotate(-180deg);
                }

            }
        }  

    }

}

.members {

    margin-bottom: 140px;
    h2, .h2 {
        margin-bottom: 60px;
    }
    @media (max-width: 992px) {
        margin-bottom: 175px;
        h2, .h2 {
            margin-bottom: 40px;

        }
    }
    &__slider {
        position: relative;
        &__item {
            text-align: center;
            .btn {
                font-weight: 500;
                font-size: 16px;
                line-height: 120%;
                padding: 8px 11px;
                display: inline-block;
            }
            &__img {
                display: flex;
                justify-content: center;
                margin-bottom: 28px;
                img {
                    border-radius: 100%;
                    max-width: 320px;
                    max-height: 320px;
                    object-fit: cover;
                    @media (max-width: 476px) {
                        max-width: 244px;
                        max-height: 244px;
                    }
                }
            }
            &__name {
                margin-bottom: 6px;
                font-weight: 600;
                font-size: 24px;
                line-height: 120%;
            }
            &__post {
                margin-bottom: 20px;
                font-weight: 400;
                opacity: 0.6;
            }
        }
        &__nav {
            display: flex;
            position: absolute;
            justify-content: center;
            top:  -108px;
            right: 0 ;
            left: auto;
            gap: 13px;
            align-items: center;
            @media (max-width: 1250px) {
                
                justify-content: center;
                width: 100%;
                left: 0;
                top:auto;
                bottom:-76px ;
            }
            & > * {
                position: static !important;
                margin: 0;
            }
            .swiper-button-prev {
                transform: rotate(-180deg);
            }
            .swiper-indicator {
                font-weight: 400;
                font-size: 16px;
                line-height: 120%;
                color: rgba(49, 49, 49, 0.6);
                .current {
                    color: #313131;
                }
            }

        }
    }
}


.footer {
    background: #e9ded4;
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    color: rgba(49, 49, 49, 0.6);
    .container {
        padding-top: 40px;
        padding-bottom: 72px;
        @media (max-width: 767px) {
            padding-bottom: 60px;
            
        }
    }
}